@charset "UTF-8";

@media screen and (min-width:1100px) {
    main {
        width: 1100px;
        margin: 200px auto;
        

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 275px 200px 250px;
        gap: 20px;
    }

    /* SOCIALMEDIA */

    #socialmedia {
        width: 500px;
        height: 270px;

        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    #socialmedia h1 {
        width: 400px;
        font-size: 50px;
        line-height: 50px;
        padding-top: 50px;
    }

    /* PLATFORMS */

    #platforms {
        width: 500px;
        display: flex;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    #platforms .manage {
        border-radius: 10px;
        height: 200px;
        padding-bottom: 15pcx;
    }

    #platforms .manage p {
        width: 140px;
        font-size: 20px;
    }

    #platforms .maintain {
        width: 300px;
        height: 200px;
    }

    #platforms .maintain p {
        width: 150px;
        font-size: 20px;
        padding-left: 20px;
    }

    #platforms .maintain img {
        object-fit: contain;
        object-position: 20px 30px;
        width: 200px;
        height: 110px;

        position: relative;
        top: -35px;
        left: -10px;
    }

    /* SCHEDULE */

    #schedule {
        grid-row: 1 / 2;
        grid-column: 3 / 4;

        height: 495px;
    }

    #schedule h2 {
        text-align: left;
        width: 190px;
        font-size: 25px;
        padding: 40px 0px 15px 30px;
        font-weight: 500;
    }

    #schedule img {
        object-position: 50px 0px;
        width: 300px;


        position:relative;
        left: -20px;

    }

    #schedule p {
        text-align: left;
        width: 180px;
    }

    /* GROW */
    
    #grow {
        display: flex;
        grid-row: 3 / 4;
        grid-column: 2 / 4;
        width: 800px;
        
    }

    #grow .content {
        width:600px;
        height: 250px;
        order: 2;
    }

    #grow .content img {
        width: 220px;
        height: 250px;
        position: relative;
        left: -130px;
    }

    #grow .content p {
        position: relative;
        top: -190px;
        left: 120px;

        font-size: 30px;
        text-align: left;
        width: 220px;
    }

    #grow .faster {
        width: 320px;
        order: 1;

        padding-left: 20px;
    }

    #grow .faster .numero {
        font-size: 45px;
        padding-top: 20px;
    }

    #grow .faster .audience {
        padding-top: 10px;
        padding-bottom: 35px;
    }

    #grow .faster img {
        width: 200px;
    }

    /* CREATE */

    #create .quicker {
        padding-bottom: 10px;
    }

    #create .quicker p {
        width: 200px;
        font-size: 30px;
        font-weight: 500;
    }

    #create .quicker img {
        width: 200px;
    }

    #create .write {
        height: 432px;
    }

    #create .write p {
        width: 200px;
        font-size: 30px;
        padding-left: 30px;
        padding-bottom: 50px;
    }

    #create .write img {
        width: 260px;
        padding-left: 30px;
    }

}